<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <h1 class="display-3 ">Contact Us</h1>
    <p class="lead">This is a contact page for a made up business in a practice website</p>
</div>
<div class="container">
    <section class="p-3 ">
        <h4 class="text-center">
            Contact me at danielsbrowne11@gmail.com
        </h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ex temporibus, maiores eos, veniam harum consequatur, quis vel obcaecati a illum amet nesciunt numquam fugit repudiandae. Dolor quibusdam alias impedit recusandae necessitatibus corrupti eius quas adipisci aliquam. At, ex eveniet? Molestiae at eius velit unde similique sit aspernatur enim, quos, nostrum iure laudantium voluptatum quas modi pariatur, consequatur delectus quidem sint nam? Perspiciatis laboriosam, dignissimos aliquam impedit optio quisquam, incidunt mollitia eum reiciendis nobis esse quibusdam beatae. Ullam corrupti sint quasi voluptate ipsa temporibus quibusdam quidem veniam vitae. At doloremque dolores quia quas eum maxime libero nostrum expedita, porro fugit.</p>
    </section>
</div>