@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    
body{

    font-family: Oswald;
    background-color: #ccc;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}